.tweet{
  margin-left: 10px;
  border: 1px solid rgb(170, 184, 194);
}

.tweet-date{
  float: right;
}

.tweet-heart{
  float: right;
  cursor: pointer;
  font-size: 24px;
}


.tweet-text{
  word-wrap: anywhere;
}

.tweet-username{
  cursor: pointer;
}
