.tabs{
  width: 500px;
}

.wrapper{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.last-tweet{
  display: inline-block;
  width: 40%;
  float: right;
}

.post-tweet{
  display: inline-block;
  width: 40%;
}

