.basicInfo{
  width: 30%;
  padding: 20px 100px 10px 50px;
  display: flex;
  align-items: center;
  background-color: lightgrey;
}

.profileImage{
  height: 150px;
  width: 150px;
}

.profileName {
  vertical-align: center;
  display: inline-block;
  margin: 0 auto;
  font-size: 26px;
}
