.basicInfo{
  margin: 10px;
  width: 30vw;;
  height: 200px;
  border: 1px solid grey;
  display: flex;
  align-items:center;
}

.profileImage{
  margin-left: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.username {
  margin-left: 10px;
  font-size: 26px;
}
