<app-navigation></app-navigation>
<div class="wrapper">
  <div class="basic-info" *ngIf="(account | json) != '{}'">
    <app-basic-info [account]="account"></app-basic-info>
  </div>
  <div class="details" *ngIf="(account | json) != '{}'">
    <app-details [account]="account"></app-details>
  </div>
  <div class="followers" *ngIf="(account | json) != '{}'">
    <app-followers [account]="account"></app-followers>
  </div>
  <div class="following" *ngIf="(account | json) != '{}'">
    <app-following [account]="account"></app-following>
  </div>  <div *ngIf="(account | json) != '{}'">
    <app-tweets [account]="account"></app-tweets>
  </div>
</div>
