<div class="wrapper">
  <div class="register-card">
    <div class="register-form">

      <div class="register-container">
        <div class="title-div">
          <h2 class="register-title"><strong>Welcome to</strong> <br>Kwetter</h2>
        </div>
        <form (ngSubmit)="register()">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput placeholder="username" [(ngModel)]="credentials.username" name="username" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text' " [(ngModel)]="credentials.password" name="password"
                   required>
            <button type="button" mat-icon-button matSuffix (click)="hide=! hide " [attr.aria-label]=" 'Hide password' "
                    [attr.aria-pressed]="!hide ">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-error class="error-message" *ngIf="errorMessage != ''">{{errorMessage}}</mat-error>
          <br>
          <button mat-button class="btn-register" type="submit">Register</button>
        </form>
        <button mat-button class="btn-login" (click)="navigateToLogin()">Go to Login</button>
      </div>
    </div>
  </div>
  <div class="image">
    <img src="../../assets/KwetterLogo.png" alt="Kwetter Logo" (click)="navigateToHome()">
  </div>
</div>
